<h1>Nueva contraseña</h1>

Email: <input id="inputUser" type="text" name="email" value={{user.email}} readonly><br>
Nueva contraseña: <input id="inputNewPassword" type="text" name="password"> <button id="boton">Cambiar contraseña</button><br><br>

<a href="/login">Login</a> | <a href="/registro">Register</a>





<script src="/js/newpassword.js"></script>