<h1>
     Vista de Productos online con webockets
</h1>

<form id="formulario">
     <label for="text1">Title:</label>
     <input type="text" name="text1" value=""></br>
     <label for="text2">Descripción:</label>
     <input type="text" name="text2" value=""></br>
     <label for="text2">Precio:</label>
     <input type="text" name="text2" value=""></br>
     <label for="text2">URL thumbnails:</label>
     <input type="text" name="text2" value=""></br>
     <label for="text2">Code:</label>
     <input type="text" name="text2" value=""></br>
     <label for="text2">Stock:</label>
     <input type="text" name="text2" value=""></br>
     <label for="text2">Category:</label>
     <input type="text" name="text2" value=""></br>
     <label for="text2">Status:</label>
     <input type="text" name="text2" value=""></br>

     <input type="submit" id="btnSubmit" value="Cargar Producto"></input>

</form>

<div id="prodTabla">

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/rtprods.js"></script>