<div>
<form action="/api/users/registro" method="post">
    <div>
        <label for="Name">Name: </label>
        <input name="name" id="user" value="" />
    </div>
    <div>
        <label for="lastname">Lastname: </label>
        <input name="lastname" id="user" value="" />
    </div>
    <div>
        <label for="email">Email: </label>
        <input name="email" id="user" value="" />
    </div>
    <div>
        <label for="passwod">contraseña: </label>
        <input name="password" type="text" value="" />
    </div>
     <div>
        <label for="profile">Profile: </label>
        <input name="profile" value="" />
    </div>
    <div>
        <button>Registrar</button>
    </div>
</form>
</div>