<h1>Restablecer contraseña</h1>

<form action="/api/users/passwordrecovery" method="post">
Email: <input type="text" name="email"><input type="submit" value="Restablecer contraseña"><br><br>
<a href="/login">Login</a> | <a href="/registro">Register</a>
</form>